$boardCellSize: 40;
$boardCellBorderWidth: 1;

$boardCellSizePx: $boardCellSize + 0px;
$boardCellBorderWidthPx: $boardCellBorderWidth + 0px;

$blockBorderWidth: 2;
$blockBorderWidthPx: $blockBorderWidth + 0px;

$boardBorderWidth: 3;
$boardBorderWidthPx: $boardBorderWidth + 0px;
$boardBorder: $boardBorderWidthPx solid darkgray;

$numberPanelBorderWidth: 2;
$numberPanelCellSize: 40;
$numberPanelCellBorderWidth: 1;
$numberPanelControlsHeight: 32;
$numberPanelControlsBorderWidth: 1;

$numberPanelBorderWidthPx: $numberPanelBorderWidth + 0px;
$numberPanelCellSizePx: $numberPanelCellSize + 0px;
$numberPanelCellBorderWidthPx: $numberPanelCellBorderWidth + 0px;
$numberPanelControlsHeightPx: $numberPanelControlsHeight + 0px;
$numberPanelControlsBorderWidthPx: $numberPanelControlsBorderWidth + 0px;

$boardSizePx: 9 * $boardCellSizePx + 18 * $boardCellBorderWidthPx + 6 * $blockBorderWidthPx;

:export {
  boardCellSize: $boardCellSize;
  boardCellBorderWidth: $boardCellBorderWidth;
  blockBorderWidth: $blockBorderWidth;
  boardBorderWidth: $boardBorderWidth;
  boardSizePx: $boardSizePx
}