<template>
  <section class="container">
    <div>
      <uptime ref="uptime"/>
      <board v-if="isRunning"/>
      <div
        class="pause-placeholder"
        v-if="isPaused"
      >
        Game paused
      </div>
      <disabled-link
        :disabled="isPaused"
        :click="pause"
        title="Pause game"
        icon="pause_circle_outline"
      />
      <disabled-link
        :disabled="isRunning"
        :click="resume"
        title="Resume game"
        icon="play_circle_outline"
      />
      <disabled-link
        :disabled=false
        :click="cancel"
        title="Cancel game"
        icon="highlight_off"
      />
    </div>
  </section>
</template>

<script>
import Board from '@/components/Board.vue'
import DisabledLink from '@/components/DisabledLink.vue'
import Uptime from '@/components/Uptime.vue'
import { GameState } from '@/types';

export default {
  components: {
    Board,
    DisabledLink,
    Uptime
  },
  computed: {
    isPaused() {
      return (this.$store.state.gameState & GameState.Paused) === GameState.Paused
    },
    isRunning() {
      return (this.$store.state.gameState & GameState.Running) === GameState.Running
    }
  },
  methods: {
    cancel() {
      this.$refs.uptime.stop()
      this.$store.commit('changeGameState', GameState.Halted)
    },
    pause() {
      this.$refs.uptime.pause()
      this.$store.commit('changeGameState', GameState.Paused)
    },
    resume() {
      this.$refs.uptime.resume()
      this.$store.commit('changeGameState', GameState.Running)
    }
  },
  mounted() {
    this.$refs.uptime.start()
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/_variables.scss';

.control {
  cursor: pointer;
}

.pause-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $boardSizePx;
  height: $boardSizePx;
  border: $boardBorder;
}
</style>
