<template>
  <section class="container">
    <div>
      <h1>Glückwunsch!</h1>
      <p>Sie haben das Spiel erfolgreich beendet.</p>
      <Start/>
    </div>
  </section>
</template>

<script lang="ts">
import Start from '@/components/Start.vue'

export default {
  components: {
    Start
  }
}
</script>
