<template>
  <section class="container">
    <Start/>
  </section>
</template>

<script lang="ts">
import Start from '@/components/Start.vue'

export default {
  components: {
    Start
  }
}
</script>
