<template>
  <div class="block">
    <Cell
      v-for="rowNum in 9"
      :key="rowNum"
      :block-index="blockIndex"
      :cell-index="rowNum - 1"
    />
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Cell from './Cell.vue'

export default Vue.extend({
  components: {
    Cell
  },
  props: {
    blockIndex: {
      type: Number,
      required: true
    }
  }
});
</script>

<style lang="scss" scoped>
@import "@/styles/_variables.scss";

.block {
  display: grid;
  grid-template-columns: repeat(3, $boardCellSizePx + 2 * $boardCellBorderWidthPx);
  border: $blockBorderWidthPx solid darkgray;
}
</style>
