<template>
  <div class="board">
    <Block
      v-for="blockIndex in 9"
      :key="blockIndex"
      :block-index="blockIndex - 1"
    />

    <NumberPanel
      v-if="showNumberPanel"
      v-click-outside="hideNumberPanel"
    />
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Block from '@/components/Block.vue'
import NumberPanel from '@/components/NumberPanel.vue'

export default Vue.extend({
  components: {
    Block,
    NumberPanel
  },
  computed: {
    showNumberPanel(): boolean {
      return this.$store.state.chooseNumberFor !== null
    }
  },
  methods: {
    hideNumberPanel() {
      this.$store.commit('chooseNumber', null)
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/styles/_variables.scss';

.board {
  display: grid;
  grid-template-columns: repeat(3, 3 * ($boardCellSizePx + 2 * $boardCellBorderWidthPx) + 2 * $blockBorderWidthPx);
  position: relative;
  border: $boardBorder;
  cursor: pointer;
}
</style>
