<template>
  <div
    class="cell"
    @click.stop="onClicked"
  >
    <div
      v-if="cellValue.number > 0"
      :class="{ fixed: isFixed, collide: doCollide }"
    >
      {{ cellValue.number }}
    </div>
    <div
      v-else
      class="notes"
    >
      <div v-for="num in 9" :key="num">
        {{ cellValue.notes.has(num) ? num : "&nbsp;" }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapMutations } from 'vuex'
import { CellState } from '@/types'
import { Cell } from '@/types/cell'

export default Vue.extend({
  props: {
    blockIndex: { type: Number, required: true },
    cellIndex: { type: Number, required: true }
  },
  computed: {
    cellValue(): Cell {
      if (!this.$store.state.cells) {
        return {
          number: 0,
          notes: new Set(),
          state: CellState.None
        }
      }
      return this.$store.state.cells.getCell({
        block: this.blockIndex,
        cell: this.cellIndex
      })
    },
    isFixed(): boolean {
      if (!this.$store.state.cells) {
        return false
      }
      return (
        (this.$store.state.cells.getCell({
          block: this.blockIndex,
          cell: this.cellIndex
        }).state & CellState.Fixed) === CellState.Fixed
      )
    },
    doCollide(): boolean {
      if (!this.$store.state.cells) {
        return false
      }
      return (
        (this.$store.state.cells.getCell({
          block: this.blockIndex,
          cell: this.cellIndex
        }).state & CellState.Collide) === CellState.Collide
      )
    }
  },
  methods: {
    ...mapMutations(['chooseNumber']),
    onClicked() {
      if (!this.$store.state.cells) {
        return
      }
      const isFixed =
        (this.$store.state.cells.getCell({
          block: this.blockIndex,
          cell: this.cellIndex
        }).state & CellState.Fixed) === CellState.Fixed
      if (!isFixed) {
        // @ts-ignore
        this.chooseNumber({
          block: this.blockIndex,
          cell: this.cellIndex
        })
      }
    }
  }
})
</script>

<style lang="scss" scoped>
@import '@/styles/_variables.scss';

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9em;
  width: $boardCellSizePx;
  height: $boardCellSizePx;
  border: $boardCellBorderWidthPx solid darkgray;

  .fixed {
    background-color: lightgray;
    width: inherit;
    height: inherit;
  }

  .collide {
    color: red;
  }

  .notes {
    display: flex;
    flex-flow: row wrap;
    font-size: 0.35em;

    div {
      flex: 0 0 33%;
    }
  }
}
</style>
