<template>
  <a
    class="control"
    :class="{ disabled: disabled }"
    @click="click"
    :title="title"
  >
    <i class="material-icons">{{ icon }}</i>
  </a>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    disabled: {
      type: Boolean,
      required: true
    },
    click: {
      type: Function,
      default: () => ({})
    },
    title: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    }
  }
})
</script>

<style lang="scss" scoped>
.control {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  color: lightgray;
}

.material-icons {
  font-size: 32px;
}
</style>
