<template>
  <div>
    <div class="modal"></div>
    <div class="panel" :style="`top: ${top}px; left: ${left}px;`">
      <div class="block">
        <div
          v-for="cellNum in 9"
          :key="cellNum"
          class="cell"
          @click="numberChosen"
        >
          {{ cellNum }}
        </div>
      </div>
      <div class="controls">
        <a @click="clear" title="Clear field"><i class="material-icons">delete</i></a>
        <a @click="close" title="Cancel"><i class="material-icons">cancel</i></a>
        <a @click="notes" title="Notes">
          <i
            class="material-icons"
            :class="{ edit: $store.state.editMode }"
          >
            apps
          </i>
        </a>
      </div>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
// @ts-ignore module not found
import styles from '@/styles/_variables.scss'

export default Vue.extend({
  data() {
    return {
      top: 0,
      left: 0
    }
  },
  methods: {
    numberChosen(event: any) {
      this.$store.commit('numberChosen', {
        number: parseInt(event.target.innerText, 10)
      })
    },
    clear() {
      this.$store.commit('numberChosen', {
        number: null
      })
    },
    close() {
      this.$store.commit('chooseNumber', null)
    },
    notes() {
      this.$store.commit('editMode', !this.$store.state.editMode)
    }
  },
  created() {
    function calcRow(row: number): number {
      return row < 3 ? 0 : row < 6 ? 1 : 2
    }

    function calcCol(col: number): number {
      return col % 3
    }

    const boardCellSize = parseInt(styles.boardCellSize, 10)
    const boardCellBorderWidth = parseInt(styles.boardCellBorderWidth, 10)
    const blockBorderWidth = parseInt(styles.blockBorderWidth, 10)

    const { block } = this.$store.state.chooseNumberFor
    const { cell } = this.$store.state.chooseNumberFor

    const cellSize = (boardCellSize + 2 * boardCellBorderWidth)
    const blockSize = 3 * cellSize + 2 * blockBorderWidth
    const blockRow = calcRow(block)
    const blockCol = calcCol(block)
    const cellRow = calcRow(cell)
    const cellCol = calcCol(cell)

    this.top = blockRow * blockSize + cellRow * cellSize - cellSize
    this.left = blockCol * blockSize + cellCol * cellSize - cellSize
  }
})
</script>

<style lang='scss' scoped>
@import '@/styles/_variables.scss';

.panel {
  position: absolute;
  background-color: white;
  border: $numberPanelBorderWidthPx solid darkgray;

  .block {
    display: grid;
    grid-template-columns: repeat(3, $numberPanelCellSizePx + 2 * $numberPanelCellBorderWidthPx);
  }

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $numberPanelCellSizePx;
    height: $numberPanelCellSizePx;
    border: $numberPanelCellBorderWidthPx solid darkgray;
  }

  .controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: $numberPanelControlsHeightPx;
    border-top: $numberPanelControlsBorderWidthPx solid darkgray;

    .edit {
      background-color: black;
      color: white;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  opacity: 0.7;
}
</style>
