<template>
  <div>
    <button @click="startNewGame">Start new game</button>
    <select v-model="level">
      <option value="0">Very easy</option>
      <option value="1">Easy</option>
      <option value="2">Middle</option>
      <option value="3">Hard</option>
    </select>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      level: '2'
    }
  },
  methods: {
    startNewGame() {
      this.$store.commit('startNewGame', { level: parseInt(this.level, 10) })
    }
  }
})
</script>
