<template>
  <div class="uptime">
    <span>{{ minutes | formatNumber }}:{{ seconds | formatNumber }}</span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

let timerId: number;

export default Vue.extend({
  computed: {
    seconds(): number {
      return this.uptime % 60
    },
    minutes(): number {
      return Math.floor(this.uptime / 60)
    }
  },
  data() {
    return {
      uptime: 0
    }
  },
  filters: {
    formatNumber(value: number) {
      return value < 10 ? `0${value}` : value
    }
  },
  methods: {
    start() {
      this.uptime = 0
      timerId = setInterval(() => {
        this.uptime += 1
      }, 1000)
    },
    pause() {
      clearInterval(timerId)
    },
    resume() {
      timerId = setInterval(() => {
        this.uptime += 1
      }, 1000)
    },
    stop() {
      clearInterval(timerId)
    }
  }
})
</script>

<style lang="scss" scoped>
.uptime {
  font-family:'Digital Numbers Regular';
  font-weight:normal;font-size:42px
}
</style>

